* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

body {
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%; 
  max-width: 700px;
  margin: auto;
}

header {

  width: 100%;
  padding: 0.5em 0.25em;
  color: #252525;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-size: 30px;
  font-weight:550;
  padding-top: 25px;
}
main {
  width: 100%;
  max-width:600px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

footer {
  width: 100%;
  padding: 0.25em;
  background-color:#6c63ff;
  color: white;
  font-weight: 540;
  display: grid;
  place-content: center;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0 0.25rem 0.25rem;
}

ul li::before {
  content: "\200B";
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0.25rem 0;
  border-bottom: 1px solid rgba(108,99,255,.5);
}


.item:first-child {
  margin: 0;
}

.item input[type="checkbox"] {
  text-align: center;
  width: 2.5rem;
  width: 26px;
  min-width: 26px;
  height: 2.5rem;
  height: 48px;
  min-height: 48px;
  cursor: pointer;
  margin-right: 0.5rem;
  accent-color:#6c63ff;
  border-color:#6c63ff
}

.item input[type="checkbox"]:focus + label {
  text-decoration: underline;
}

.item > label {
  flex-grow: 1;
  color:#252525;
  cursor: pointer;
  font-family: Kanit;
  font-size: 20px;
  font-weight: 550;
  line-height: 130%;
}

.item svg {
  width: 20px;
  min-width: 20px;
  height: 20px;
  font-size: 1rem;
  color: gray;
  cursor: pointer;
  margin-right:5px;
}

.item svg:focus, 
.item svg:hover {
  color: red;
  outline: none;
}

.addForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 5px 2px 5px;
  padding: 0 0.5rem 0.25rem;
  color:white;
}

.addForm label {
  position: absolute;
  left: -99999px;
}

.addForm input[type='text'] {
  flex-grow: 1;
  max-width: 100%;
  min-height: 48px;
  font-size: 1rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
  border:1px solid #6c63ff;
  background-color: #6c63ff;
  color: white;
}
.addForm input[type='text']::placeholder {
  color: white;
  text-align: center;
}
.addForm input[type='text']:focus{
  box-shadow: 0 0 0 3px rgba(108, 99, 255,0.3);
  caret-color:white;
  background-color: #f7f7f7;
  color: #252525;
}
button {
  height: 48px;
  min-width: 48px;
  border-radius: 50% 50%;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #6c63ff;
  border: 1px solid #6c63ff;
  color: white;
  cursor: pointer;
}

button:focus, 
button:hover {
  color: white;
  background-color:#534afc;
  outline: none;
}

.searchForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0.25rem 0 0;
  padding: 0 0.5rem 0.25rem;
}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.searchForm input[type='text'] {
  flex-grow: 1;
  max-width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  border:1px solid #6c63ff;
  outline: none;
  background-color: #f7f7f7;
  color:#252525;
}
.searchForm input[type='text']:focus{
  box-shadow: 0 0 0 3px rgba(108, 99, 255,0.3);
}